**__pycache__/
**.ipynb_checkpoints/
*outputs/
*outputs
*.swp
*.swo
tags
**.out
**.log
**.pdf
**/run.sh
**/logs/
**/logs
**/data/
**/data

dflex/dflex/kernels*/
**logs/

**data/
**.egg-info/

wandb
checkpoints
multirun
